[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/Fixit"]
	path = themes/Fixit
	url = https://github.com/hugo-fixit/FixIt.git
